.order-item-container {
  height: 50px;
  background-color: var(--main50);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 22px;
  color: var(--main900);
  font-weight: 600;
  padding: 0 10px;
  border: 1px var(--main900) solid;

  text-transform: capitalize;
}
