.order-history-client--container {
  position: relative;
  height: 180px;
  width: 100%;
  background-color: var(--main100);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 45px;
}
.order-history-client--column-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.order-history-client--header {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  color: var(--main900);
}
.order-history-client--text {
  font-size: 15px;
  font-weight: 500;
  color: var(--main700);
}
