.sort-container {
  /* position: sticky;
  top: 100px;
  z-index: 1;
  background-color: #fff; */

  width: fit-content;
  margin: 40px 0 15px 20px;
  /* padding: 0 2%; */

  /* gap: 40px; */
}
.sort-container-btn {
  width: 200px;
}
